.game{
    display: flex;;
    justify-content: space-between;
    flex-direction: row;
    position: absolute;
    margin-top: 200px;
}

.game .button{
    margin-right: 220px;
    margin-left: 250px;
}

.exit-quizz{
    margin-top: 900px;
    margin-left: 800px;
}

.game-1{
    display: flex;;
    justify-content: space-between;
    flex-direction: row;
    position: absolute;
    margin-top: 600px;
}

.game-1 .button{
    margin-right: 220px;
    margin-left: 250px;
}