.rights{
    font-family: 'Joti One';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 33px;
    text-align: justify;
    color: #000000;
}

.rights-2{
    display: inline-block;
    font-family: 'Joti One';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 33px;
    color: #000000;
    margin-right: 150px;
}