.rights{
    font-family: 'Joti One';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 33px;
    text-align: justify;
    color: #000000;
    margin-left: 293px;
}

.rights-2{
    font-family: 'Joti One';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 33px;
    text-align: justify;
    color: #000000;
    margin-left: 282px;
}